$background:rgb(238, 238, 238);
$button-main:#027EC3;
$panel:rgb(2, 149, 168);
$white:#fff;
$success:rgb(109, 161, 109);
$hover-light:rgb(247, 247, 247);
$grey:rgb(180, 180, 180);
$warning:rgb(245, 113, 26);
$danger:rgb(219, 74, 74);
$title:rgb(61, 61, 61);
$hours:rgb(65, 62, 62);
$nav:rgb(85, 83, 83);
$title_icons:rgb(137, 161, 247);
$shadow:0px 2px 8px 4px rgba(0,0,0,0.10);