//slide fade

.slide-fade-enter-active{
    transition: all .3s ease;
}

.slide-fade-leave-active{
    transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to{
   transform: translateX(50px);
   opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 3s ease-in-out;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .slide-enter-active, .slide-leave-active {
    transition: margin-left 3s ease-in-out;
  }
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
    margin-left: -30px;
  }

.fadeIn{
    animation-duration: .5s;
    // animation-delay: 2s;
    // animation-iteration-count: infinite;
}
.fadeOut{
    animation-duration: .5s;
    // animation-delay: 2s;
    // animation-iteration-count: infinite;
}

.list-enter-active, .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }