*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    font-family: 'Poppins',sans-serif;
}

a{
    text-decoration: none;

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.full-screen{
    height: 100vh;
    display: flex;
   // justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cursor{
    cursor: pointer;
}
.from-now{
    font-size: 12px;
}
.title{
    color: $title;
}
.hours{
    color:$hours;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 3s ease-in-out;
  }
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

.fadeIn{
    animation-duration: .5s;
    // animation-delay: 2s;
    // animation-iteration-count: infinite;
}
.fadeOut{
    animation-duration: .5s;
    // animation-delay: 2s;
    // animation-iteration-count: infinite;
}