* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(194, 72, 194);
  }
  &::-webkit-scrollbar-thumb {
    background: purple;
  }
  overflow-x: hidden;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.full-screen {
  height: 100vh;
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-btn {
  font-size: 25px;
}
.cursor {
  cursor: pointer;
}
.from-now {
  font-size: 12px;
}
.title {
  color: $title;
}
.hours {
  color: $hours;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  width: 97%;
}

.success {
  color: $success !important;
}
.warning {
  color: $warning !important;
}
.danger {
  color: $danger !important;
}
.errors {
  font-size: 12px;
  color: $danger;
}
