.count-down-parent{
  min-height: 150px;
  @include flex_center;
   position: relative;
  outline: none;
  .count-down{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      i{
          color:$white;
          font-size: 30px;
      }
    span{
        font-size:50px;
        @include text($hours,1,50px);
      }
      .clock-down{
        width: 300px;
        display: flex;
        justify-content: center;
        .time-dots{
          @include text($hours,.3,45px);
          padding-right:10px;
         // margin-bottom:-11px;
        }
        
      }
      
      .count-start{
           bottom: -15px;
           position:absolute;
           img{
             width: 20px;
           }
           @include button($white,60px,60px,$panel,20px);
           &:hover{
            background-color: $button-main
          }
          
      }
      .button-group{
        
        // width: 120px;
        display: flex;
        justify-content: space-evenly;
        bottom: 10px;
        right: 145px;
        position:absolute;
         
      i{
        color:$white;
        font-size: 15px;
    }
        img{
          width: 15px;
        }
        .pause{
          @include button($white,30px,30px,$panel,15px);
          &:hover{
            background-color: $button-main
          }
        }
        .resume{
          @include button($white,30px,30px,$success,15px);
        }
        .stop{
          @include button($white,30px,30px,$panel,15px);
        }
      }
  }
   
}