.count-down-parent{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .count-down{
      display: flex;
      flex-direction: column;
      align-items: center;
      i{
          color:$white;
          font-size: 30px;
      }
    span{
        font-size:50px;
        @include text($hours,1,50px);
      }
      .clock-down{
        width: 300px;
        display: flex;
        justify-content: center;
        .time-dots{
          @include text($hours,.3,45px);
          padding-right:10px;
         // margin-bottom:-11px;
        }
        
      }
      
      .count-start{
           bottom: -30px;
           position:absolute;
          width: 60px;
          height: 60px;
          background-color: #027EC3;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }
   
}