.home-subheader {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 1.5rem 1rem 2rem 0;
  height: 75px;
}

.project-btn {
  position: absolute;
  right: 20px;
  top: 0;
  @include circle_button($white, $panel, 20px);
}

.forms {
  position: absolute;
  right: 30px;
  z-index: 9999;
}
.home-parent {
  .no-projects {
    text-align: center;
    margin-top: 14rem;
    .empty {
      margin-top: 1.5rem;
      img {
        width: 50%;
      }
    }
  }
}
