
.main-report-parent{
   position: relative;
   margin: 2rem 0 2rem 0;
      .report-filter-parent{
         margin-bottom: 1.5rem;
         margin:0 .3rem 0 .3rem;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         
         i{
             @include a_button($white,
             40px,$panel,16px,3px,.8
           
             );
             padding: 0 .8rem 0 .8rem !important;
             margin-right:.5rem;
            
         }
         div{
            &:nth-child(2){
               margin-right:.6rem;
            } 
         }
      }
 
    .main-clock-chart{
      position: relative;
      margin-bottom: 1rem;
    }
    

    .main-task-chart{
      position: relative;
    }



}