.home-head-parent{
    display: flex;
    align-items: center;
    padding: 1rem;
    .logo{
        flex:1;
        img{
            width: 100%;
        }
         max-width:75px
    }
    .navigation{ 
           flex:1;
            display: flex;
            justify-content: space-evenly;
            div{
            
                // display: inline;
                // padding: 0 .7rem 0 .7rem;
                color: $nav;
                font-size:20px;
                cursor: pointer;
                &:hover{
                    color: $grey; 
                }
            }
      
       
    }
}