

.panel-parent{ 
   
 @include panels(150px,$white,false);
 position: relative;
 .edit-project{
     position: absolute;
     z-index: 9999;
     top:0;
     left:0;
    // @include panels(50px,$white,false);
 }
  

  i{
      font-size:small;
      color: $title_icons;
  }

  h6{
  
      @include text($grey,.9,12px);
     
   // color: $grey;
    margin-bottom: .2rem;
}

.complete{
    color: $success;

}
.incomplete{
    color:$warning;
}

  .panel-container{
      padding: 1rem;
  }

  .panel-top{
     display: flex;

     .panel-date{
      flex:1;
      h6{
          display: flex;
          align-items: center;
        i{
            margin: 0 0 0 .5rem;
            color: $panel;
        }
      }
      .title{
          display: flex;
          align-items: center;
          @include text($title,1,15px);
       
           
          i{
              margin: 0 .5rem 0 0;
              color: $panel;
          }
      }
     
     }
     .panel-time{
         width: 72px;
     }
     .panel-dates{
        width: 100px;
     }
     .activity-name{
         flex:1;
     }
    
  }
  .activity-bottom{
    display: flex;
   
    justify-content: center;
  }

  .panel-bottom{
      display: flex;
      margin: .1rem 0 0 0;
      align-items: center;
    
      .panel-task{
         display: flex;
         flex-direction: column;
         
         flex:1;
        .box-task{
            border:2px solid $grey;
            border-radius:6px;
            padding: .5rem;
            max-width: 40px;
            font-size:14px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
         
      }
      .panel-goal{
        width: 72px;
      }
  }









}