.panel-parent{ 
 @include panels(300px,$white,false);
  &:hover{
      //height: 250px;
  }

  i{
      font-size:small;
      color: $title_icons;
  }

  h6{
      @include text($grey,1,inherit);
   // color: $grey;
    margin-bottom: .2rem;
}

.complete{
    color: $success;

}
.incomplete{
    color:$warning;
}

  .panel-container{
      padding: 1rem;
  }

  .panel-top{
     display: flex;

     .panel-date{
      flex:1;
     
     }
     .panel-time{
         width: 72px;
     }
     .panel-dates{
        width: 100px;
     }
     .activity-name{
         flex:1;
     }
    
  }
  .activity-bottom{
    display: flex;
   
    justify-content: center;
  }

  .panel-bottom{
      display: flex;
      margin: .1rem 0 0 0;
      .panel-task{
         display: flex;
         flex-direction: column;
         
         flex:1;
        .box-task{
            border:2px solid $grey;
            border-radius:6px;
            padding: .5rem;
            max-width: 40px;
            font-size:14px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
         
      }
      .panel-goal{
        width: 72px;
      }
  }









}