.exit-header {
  padding: 1rem;
  h4 {
    font-size: 0.9rem;
    color: $grey;
  }
}

.clock-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .cancel {
    padding-left: 0.5rem;
    flex: 1;

    i {
      font-size: 20px;
      transition: all 0.3s;
      &:hover {
        font-size: 25px;
        color: $grey;
      }
    }
  }

  .project-timer {
    max-width: 300px;
    @include panels(inherit, $white, 1rem, 200px);
  }
}

.project-head {
  margin-bottom: 1.8rem;
  max-width: 100%;
  h5 {
    color: $warning;
    text-transform: uppercase;
  }
  .title {
    display: flex;
    align-items: center;
    i {
      font-size: x-large;
      color: $grey;
    }

    h2 {
      text-transform: capitalize;
      margin: 0;
      padding-left: 1rem;
      color: $title;
    }
  }
  @include panels(inherit, $white, 1rem, 200px);
}

.sub-header {
  .project-header {
    margin-top: 1rem;

    .task-sub-nav {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.filter-bar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  div {
    @include text($title, 1, 14px);
    text-transform: uppercase;
    font-weight: 600;
    //@include a_button($white, 40px, $panel, 14px, 3px, 0.8);
    // &:hover {
    //   background-color: $button-main;
    // }
  }
}

.project-parent {
  .project-header {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    .project-title {
      flex: 1;
    }
  }

  .no-task {
    margin-top: 1.5rem;
    text-align: center;
    div {
      margin-top: 5rem;
    }
    img {
      width: 50%;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
}
