.project-parent{
   
    .project-header{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        .project-title{
            flex:1;
        }

       
    }
    .clock-header{
        display: flex;
        justify-content: flex-end;
        .project-timer{
            max-width: 180px;
            @include panels(inherit,$white,true,150px)
        }
    }
}
