.task-parent{
    @include panels(270px,$panel,false);
    

   
    .task-container{
        padding: 1rem;
        
    }
    .task-top{
        display: flex;
        margin-bottom:.8rem;
        align-items: center;
        .activity-name{
            span{
                @include text($white,.8,14px);
            }
        }

        .activity-delete{
            flex:1;
            text-align: right;
            @include text($white,.5,13px);
        }

    }
    .activity-mid{
        @include panels(150px,$white,false);
        margin: 0 -20px 0 -20px;
    }
    .activity-end{
        display: flex;
        @include text($white,.5,13px);
        align-items: center;
      
        margin-top: 1rem;
         >:first-child{
             flex:1
         }
    }
    h6{
        @include text($white,.5,12px);
       
     // color: $grey;
      margin-bottom: .2rem;
  }
  span{
    @include text($white,1,20px);
  }
}