.report-filter-parent{
    margin-bottom: 1.5rem;
    margin:0 .3rem 0 .3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    i{
        @include a_button($white,
        40px,$panel,16px,3px,.8
      
        );
        padding: 0 .8rem 0 .8rem !important;
        margin-right:.5rem;
       
    }
    div{
       &:nth-child(3){
          margin-right:.6rem;
       } 
    }
 }