* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: 'Poppins',sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.full-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cursor {
  cursor: pointer;
}

.from-now {
  font-size: 12px;
}

.title {
  color: #3d3d3d;
}

.hours {
  color: #413e3e;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

.success {
  color: #6da16d !important;
}

.warning {
  color: #f5711a !important;
}

.danger {
  color: #db4a4a !important;
}

.header-parent {
  background-color: #fff;
  height: 70px;
  padding: .2rem .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-parent .header-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 98%;
}

.header-parent .header-content {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-parent .header-content i {
  margin-right: 1rem;
  font-size: large;
  color: #6da16d;
}

.header-parent .header-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-parent .header-content .new-time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header-parent .header-content .new-time input[type="text"] {
  height: 100%;
  border-bottom: 1px solid #000;
  font-size: 100%;
  color: #b4b4b4;
  outline: none;
  margin-left: 5px;
  border: none;
}

.header-parent .header-content .new-time input[type="submit"] {
  margin-left: 5px;
  height: 40px;
  width: 40px;
  color: #fff;
  background-color: #0295a8;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.header-parent .header-content .task {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: inherit;
  max-width: 100px;
}

.header-parent .header-content .task input[type="text"] {
  max-width: 100px;
  outline: none;
  border: none;
  font-size: 100%;
  color: #b4b4b4;
}

.header-parent .header-content .project {
  width: 180px;
  font-size: 13px;
}

.header-parent .header-content .project i {
  color: #b4b4b4;
  font-size: small;
}

.count-down-parent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  outline: none;
}

.count-down-parent .count-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-down-parent .count-down i {
  color: #fff;
  font-size: 30px;
}

.count-down-parent .count-down span {
  font-size: 50px;
  opacity: 1;
  color: #413e3e;
  font-size: 50px;
}

.count-down-parent .count-down .clock-down {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count-down-parent .count-down .clock-down .time-dots {
  opacity: 0.3;
  color: #413e3e;
  font-size: 45px;
  padding-right: 10px;
}

.count-down-parent .count-down .count-start {
  bottom: -30px;
  position: absolute;
  height: 60px;
  width: 60px;
  color: #fff;
  background-color: #027EC3;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.count-down-parent .count-down .count-start img {
  width: 20px;
}

.count-down-parent .count-down .button-group {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.count-down-parent .count-down .button-group i {
  color: #fff;
  font-size: 15px;
}

.count-down-parent .count-down .button-group img {
  width: 15px;
}

.count-down-parent .count-down .button-group .pause {
  height: 30px;
  width: 30px;
  color: #fff;
  background-color: #f5711a;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.count-down-parent .count-down .button-group .resume {
  height: 30px;
  width: 30px;
  color: #fff;
  background-color: #6da16d;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.count-down-parent .count-down .button-group .stop {
  height: 30px;
  width: 30px;
  color: #fff;
  background-color: #db4a4a;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.count-up-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-up-parent .count-down {
  font-size: 18px;
  min-width: 88px;
}

.count-up-parent .edit i {
  color: #b4b4b4;
}

.count-up-parent .clock-controls .play i {
  font-size: xx-large;
  color: #6da16d;
}

.count-up-parent .clock-controls .stop i {
  font-size: xx-large;
  color: red;
}

.panel-parent {
  min-height: 200px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: false;
  position: relative;
}

.panel-parent .edit-project {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

.panel-parent i {
  font-size: small;
  color: #89a1f7;
}

.panel-parent h6 {
  opacity: 1;
  color: #b4b4b4;
  font-size: inherit;
  margin-bottom: .2rem;
}

.panel-parent .complete {
  color: #6da16d;
}

.panel-parent .incomplete {
  color: #f5711a;
}

.panel-parent .panel-container {
  padding: 1rem;
}

.panel-parent .panel-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel-parent .panel-top .panel-date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-parent .panel-top .panel-date h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-parent .panel-top .panel-date h6 i {
  margin: 0 0 0 .5rem;
}

.panel-parent .panel-top .panel-date .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-parent .panel-top .panel-date .title i {
  margin: 0 .5rem 0 0;
}

.panel-parent .panel-top .panel-time {
  width: 72px;
}

.panel-parent .panel-top .panel-dates {
  width: 100px;
}

.panel-parent .panel-top .activity-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-parent .activity-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-parent .panel-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .1rem 0 0 0;
}

.panel-parent .panel-bottom .panel-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-parent .panel-bottom .panel-task .box-task {
  border: 2px solid #b4b4b4;
  border-radius: 6px;
  padding: .5rem;
  max-width: 40px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-parent .panel-bottom .panel-goal {
  width: 72px;
}

.task-parent {
  min-height: 270px;
  background-color: #0295a8;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: false;
}

.task-parent .task-container {
  padding: 1rem;
}

.task-parent .task-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .8rem;
}

.task-parent .activity-mid {
  min-height: 150px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: false;
  margin: 0 -30px 0 -30px;
}

.task-parent .activity-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  color: #fff;
  font-size: 15px;
  margin-top: .5rem;
}

.task-parent .activity-end > :first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.task-parent h6 {
  opacity: 0.5;
  color: #fff;
  font-size: 12px;
  margin-bottom: .2rem;
}

.task-parent span {
  opacity: 1;
  color: #fff;
  font-size: 20px;
}

.clock-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.clock-header .project-timer {
  max-width: 180px;
  min-height: inherit;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 150px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.sub-header .project-header {
  margin-top: 1rem;
}

.filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1.5rem;
}

.filter-bar div {
  color: #fff;
  background-color: #0295a8;
  border-radius: 3px;
  height: 40px;
  padding: 0 1rem 0 1rem;
  border: none;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.project-parent .project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.project-parent .project-header .project-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-parent .no-task {
  margin-top: 1.5rem;
}

.project-parent .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.home-head-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.home-head-parent .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 75px;
}

.home-head-parent .logo img {
  width: 100%;
}

.home-head-parent .navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-head-parent .navigation div {
  color: #555353;
  font-size: 20px;
  cursor: pointer;
}

.home-head-parent .navigation div:hover {
  color: #b4b4b4;
}

.home-subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 8rem;
}

.home-subheader .project-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  background-color: #027EC3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.home-subheader .forms {
  position: absolute;
  right: 30px;
  z-index: 9999;
}

.mini-forms {
  min-height: 200px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 250px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.mini-forms .form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mini-forms .form-input {
  margin-bottom: 1rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 12px 8px;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 100%;
  background-color: #ebebeb;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

input[type="submit"] {
  height: 35px;
  width: 90%;
  color: #fff;
  background-color: #027EC3;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 1rem;
}

input[type="button"] {
  height: 35px;
  width: 90%;
  color: #fff;
  background-color: #db4a4a;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.task-list-parent {
  position: relative;
  min-height: 185px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.task-list-parent .edit-task {
  position: absolute;
  min-height: 150px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 150px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  left: 0;
  top: 18px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.task-list-parent .edit-task .task {
  margin: .4rem 0 1rem 0;
}

.task-list-parent .edit-task .new-time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-list-parent .edit-task .new-time input[type="submit"] {
  width: 100%;
  margin-right: 0;
}

.task-list-parent span {
  text-transform: capitalize;
}

.task-list-parent h6 {
  opacity: 0.4;
  color: #b4b4b4;
  font-size: 12px;
  margin-bottom: .2rem;
}

.task-list-parent .task-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.task-list-parent .task-top .task-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.task-list-parent .task-top .task-title .task-title-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-list-parent .task-top .task-title .task-title-sub i {
  opacity: 0.8;
  color: #db4a4a;
  font-size: 12px;
}

.task-list-parent .task-top .task-title .task-title-sub h6 {
  margin-right: 1rem;
  margin-bottom: 0;
}

.task-list-parent .task-top .task-title i {
  opacity: 0.8;
  color: #b4b4b4;
  font-size: 12px;
}

.task-list-parent .task-top .task-dates span {
  opacity: 0.6;
  color: #b4b4b4;
  font-size: 12px;
}

.task-list-parent .task-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-list-parent .task-mid .complete {
  opacity: 1;
  color: #0295a8;
  font-size: 50px;
}

.task-list-parent .task-mid .not-complete {
  opacity: 1;
  color: #f5711a;
  font-size: 50px;
}

.task-list-parent .task-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.task-list-parent .task-bottom .task-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.task-list-parent .task-bottom .task-details .complete {
  opacity: 1;
  color: #0295a8;
  font-size: 16px;
}

.task-list-parent .task-bottom .task-details .not-complete {
  opacity: 1;
  color: #f5711a;
  font-size: 16px;
}

.slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  -webkit-transition: margin-left 3s ease-in-out;
  transition: margin-left 3s ease-in-out;
}

.slide-enter, .slide-leave-to {
  margin-left: -30px;
}

.fadeIn {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.fadeOut {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.list-enter-active, .list-leave-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.list-enter, .list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.reports-parent .clock-panel {
  min-height: 100px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 1rem 0 1rem 0;
  min-width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: false;
  padding: .8rem;
  overflow: hidden;
}

.reports-parent .clock-panel .clock-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reports-parent .clock-panel .clock-header .date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reports-parent .clock-panel .clock-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reports-parent .clock-panel .clock-footer .clock-entries {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reports-parent .clock-panel .clock-footer .clock-entries .clock-btn {
  color: #3d3d3d;
  background-color: #fff;
  border-radius: 4px;
  height: 40px;
  padding: 0 1rem 0 1rem;
  border: none;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 1rem;
}

.reports-parent .clock-panel .clock-footer .clock-entries p {
  color: #b4b4b4;
  font-size: 13px;
}

.reports-parent .clock-panel .entry-container {
  overflow: hidden;
}

.reports-parent .clock-panel .entry-container .entries {
  margin-top: -100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: hidden;
}

.reports-parent .clock-panel .entry-container .entries .grouped-entries li {
  padding: .5rem;
}

.reports-parent .clock-panel .entry-container .entries .grouped-entries li:hover {
  background-color: #f7f7f7;
}

.reports-parent .clock-panel .entry-container .entries .grouped-entries .entry-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b4b4b4;
  font-size: 14px;
}

.reports-parent .clock-panel .entry-container .entries .grouped-entries .entry-line .start-end {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reports-parent .clock-panel .entry-container .expands {
  margin-top: 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: hidden;
}

.reports-parent .clock-panel .entry-container .expands .grouped-entries li {
  padding: .5rem;
}

.reports-parent .clock-panel .entry-container .expands .grouped-entries li:hover {
  background-color: #f7f7f7;
}

.reports-parent .clock-panel .entry-container .expands .grouped-entries .entry-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b4b4b4;
  font-size: 14px;
}

.reports-parent .clock-panel .entry-container .expands .grouped-entries .entry-line .start-end {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */